@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@200&display=swap");

h1 {
   font-family: 'Playfair Display', serif;
   font-weight: 200;
   color :#5b0060;
}
